@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GC Coffee House Links</h1>
    <p>Links:</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration">Register</a>
</div>
