@model BringADish


@{
    ViewBag.Title = "Dish Confirmation";
}

<h2>Confirmed</h2>
<p>We look forward to seeing you @Model.Name and enjoying your @Model.Category consisting of @Model.DishName.</p>
<p>A confirmation has been sent to your email address. Any last minute changes you will be contacted at @Model.PhoneNumber. Thank you. </p>

